<main>
    <div class="container">
        <div class="my-5">
            <h1 class="text-center">Lista de programadores</h1>
        </div>
        <!-- Editable table -->
        <div class="card-body" data-aos="fade-up" data-aos-once="true">
            <div id="table" class="table-editable">
                <table class="table table-bordered table-responsive-md table-striped text-center">
                    <thead>
                        <tr>
                            <th class="text-center">Nome completo</th>
                            <th class="text-center">Idade</th>
                            <th class="text-center">Data de nascimento</th>
                            <th class="text-center">Linguagem preferida</th>
                            <th class="text-center">Observação</th>
                            <th class="text-center">Editar</th>
                            <th class="text-center">Remover</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let u of users">
                            <td class="pt-3-half">{{u.nome}} {{ u.sobrenome }}</td>
                            <td class="pt-3-half">{{u.idade}}</td>
                            <td class="pt-3-half">{{ u.dataDenascimento | date: 'dd/MM/yyyy' }}</td>
                            <td class="pt-3-half">{{u.linguagem}}</td>
                            <td class="pt-3-half">{{u.observacao}}</td>
                            <td class="pt-3-half">
                                <span class="table-edit"><button type="button"
                                class="btn btn-success btn-rounded btn-sm my-0" (click)="openModal(template, u.id_programadores)">Editar</button></span>
                            </td>
                            <td>
                                <span class="table-remove"><button type="button"
                            class="btn btn-danger btn-rounded btn-sm my-0" (click)="delete(u.id_programadores)" >Remover</button></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Editable table -->
    </div>
</main>

<!-- Modal -->
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Editar usuário</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body" *ngFor="let user of user">
        <form method="POST" (ngSubmit)="editar(user.id_programadores)" [formGroup]="formulario">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" name="nome" value="{{user.nome}}" id="nome" placeholder="Nome" formControlName="nome">
                </div>
                <div class="form-group col-md-6">
                    <label for="sobrenome">Sobrenome</label>
                    <input type="texr" class="form-control" name="sobrenome" id="sobrenome" value="{{user.sobrenome}}" placeholder="Sobrenome" formControlName="sobrenome">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="idade">Idade</label>
                    <input type="text" class="form-control" name="idade" id="idade" value="{{user.idade}}" placeholder="Idade" formControlName="idade">
                </div>
                <div class="form-group col-md-6">
                    <label for="daformtaDenascimento">Data de Nascimento</label>
                    <input type="text" class="form-control" name="dataDenascimento" id="dataDenascimento" value="{{user.dataDenascimento | date: dd/MM/aaaa}}" placeholder="dd/mm/aaaa" formControlName="dataDenascimento" bsDatepicker [bsConfig]="bsConfig">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="linguagem">Linguagem favorita</label>
                    <input type="text" class="form-control" name="linguagem" id="linguagem" placeholder="linguagem" value="{{user.linguagem}}" formControlName="linguagem">
                </div>
                <div class="form-group col-md-6">
                    <label for="observacao">Observação</label>
                    <textarea type="date" rows="1" class="form-control" name="observacao" id="observacao" placeholder="Observação" formControlName="observacao">{{user.observacao}}</textarea>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Atualizar</button>
        </form>
    </div>
</ng-template>