<main>
    <div class="container mt-5 z-depth-1">
        <h1 class="text-center">Cadstro de programadores</h1>
        <section class="dark-grey-text p-5">
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-5 mb-4 mb-md-0">
                    <div class="view">
                        <img src="https://mdbootstrap.com/img/illustrations/undraw_Group_chat_unwm.svg" class="img-fluid" alt="smaple image">
                    </div>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-7 mb-lg-0 mb-4">
                    <!-- Form -->
                    <form method="POST" (ngSubmit)="criar()" [formGroup]="formulario">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="nome">Nome</label>
                                <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome" formControlName="nome">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="sobrenome">Sobrenome</label>
                                <input type="texr" class="form-control" name="sobrenome" id="sobrenome" placeholder="Sobrenome" formControlName="sobrenome">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="idade">Idade</label>
                                <input type="text" class="form-control" name="idade" id="idade" placeholder="Idade" formControlName="idade">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="dataDenascimento">Data de Nascimento</label>
                                <input type="text" class="form-control" name="dataDenascimento" id="dataDenascimento" placeholder="dd/mm/aaaa" formControlName="dataDenascimento" bsDatepicker [bsConfig]="bsConfig" [maxDate]="maxDate">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="linguagem">Linguagem favorita</label>
                                <input type="text" class="form-control" name="linguagem" id="linguagem" placeholder="linguagem" formControlName="linguagem">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="observacao">Observação</label>
                                <textarea type="date" rows="1" class="form-control" name="observacao" id="observacao" placeholder="Observação" formControlName="observacao"></textarea>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit" [disabled]="formulario.invalid">Cadastrar</button>
                    </form>
                    <!-- Form -->
                </div>
            </div>
        </section>
    </div>
</main>